 @charset "UTF-8";

.btnClass{
	position: relative;
    right: -638px;
    margin-top: 34px;
} 
 
.btn{
	float: right;
    background: #2f2d2d;
    color: white;
	width: 70px;
    height: 70px;
}
.cart-head-text{
	display: inline-block;
    margin-top: 10px;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
    color: #101010
}
.cart-login-container>p{
    float: left;
    margin-top: 9px;
    font-size: 18px;
    line-height: 27px;
    color: #606060;
    font-weight: 500
 }
.cart-login-container{
	margin-top: 40px;
    padding: 19px 31px;
    border: 1px solid #ccc;
    height: 75px;
}
.logBtn{
	float: right;
    background: #2f2d2d;
    color: white;
    width: 200;
}
.cart-section-body-group2{
	display : flex;
	border: 1px solid #ccc;
	margin-bottom: 50;
	
}
.cart-section-block{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
