@charset "UTF-8";
/*section.main style*/
.section {
	padding-top: 40px;
	padding-bottom: 40px;
}


/*광고배너 스타일*/
* {
    margin: 0;
    padding: 0; 
    list-style: none;
}

.slider-title{
	background-color: white;
}

#slider-wrap {
    
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#slider-wrap ul#slider li>div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#slider-wrap ul#slider li>div h3 {
    font-size: 36px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
    font-size: 21px;
}

#slider-wrap ul#slider li img {
    display: block;
    width: 100%;
    height: 100%;
}

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: #0382a4bf;
}

#next {
    right: -50px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: #eee;
}

#previous {
    width: 50px;
    left: -50px;
    height: 50px;
    border-radius: 100px;
    color: white;
    align-items: center;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

/**********************************************/
/*추천메뉴 스타일*/
.recommend-container { /*추천메뉴의 전체적인 <div>부분*/
	max-width: 1200px;
	height: 600px;
	cursor: pointer;
	overflow: hidden;
	position: relative; 
	margin: auto; /*가운데로 잘 자리잡게 해줌*/
}

.recommend-container h1{
	text-align:center;
}

.taste-select {
	/* width: 600px;
	height: 80px; */
	position: absolute;
	top: 20%;
	left: 20px;
	font-size: 70px;
	
}

.recommend-img {
	width: 1150px;
    height: 500px;
	margin: auto;
	padding: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 10px solid #AC0F0F;
	
}

.recommend-content {
	position: absolute;
	right: 150px;
	top: 30%;	
}
.recommend-name{
	font-size: 30px;
	color: #664506;
	text-align:center;
}
.dmain{
	color: black;
}
.recommend-content .cart {
	position: absolute;
	right: 200px;
	top: 30%;
}

/***********************************************************/
/*실시간 베스트, 행사상품 스타일*/
.best-container{
	padding-top: 20px;
	max-width: 1260px;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative; 
	margin: auto;
}


h1{
	font-size: 40px;
	letter-spacing: 2px;
	padding: 30px;
	padding-bottom: 10px;
}

.main-best {
	width: 100%;
	margin: 10px;
	text-align: center;
}
.main-best td img{
	width: 400px;
    height: 400px;
	
}

tr.name{
	font-size: 30px;
	font-weight: bolder;
}

.main-best td a{
	text-decoration: none;
	color: black;
}

.main-hot {
	width: 100%;
	margin: 10px;
	text-align: center;
}
.main-hot td img{
	width: 400px;
    height: 400px;
	
}

td.name{
	font-size: 30px;
	font-weight: bolder;
}

.main-best td a{
	text-decoration: none;
	color: black;
}