@charset "UTF-8";

 
/* common */

ul{
    list-style-type:none;
}
a{
    text-decoration-line: none;
}
a:hover{
    color:red;
    text-decoration-line: none;
}

/* button */

.button-container{
  
    display: block;
    
    padding :10px;
    margin: 10px;
    border-radius: 3px;
  }
  
  .botton-group{
    border-radius: 5px;
    width: 50px;
    height: 25px;
    padding: 10px;
    color:#ccc;
    background-color: black;
  align-items: center;
  }
  .botton-group:hover{
    color: red;
  }

  /* 찜 버튼 */
  .jjim{
      width:46px;
      height: 46px;
      margin-right: 30px;
      background:#D3D3D3;
  }
  .jjim:hover{
    border: 2px solid black;
  }
  /* 장바구니 버튼 */
  .jjim-btn-container{
      margin: 20px 0;
      width: auto;
      display: flex;
  }
  .cart-botton-items{
      width: 85%;
      height: auto;
      font-size: 30px;
      color: #ccc;
      background: black;
  }
  /* --- */
.etc_txt{
    padding: 5px;
  font-size: 20px;
}
.order_check_day{
    width: auto;
    height: 40px;
}
.product-price-number-group{
    font-size:25px;
    margin: 20px 0;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
   
}



/* section && detail--menu */
.menu-container-group{
    display: grid;
    grid-template-columns: repeat(1, 600px 600px 1fr);
    grid-template-rows: auto;
    gap: 50px 100px;
}
.menu-section{
    display: block;
  margin: 100px 50px;
}
.text-container2{
    padding: 10px;
}
.text-container{
    display:block;
    margin:40px;
    padding: 5px;
}
.text-group{
    display: grid;
    grid-template-columns: repeat(1, 500px);
}
.img{
    float: left;
    margin: 20px;
    padding: 20px;
}
#new{ 
    float:left;
    
}
.h2-text,.h3-text{
   text-align: center;
    margin-bottom: 30px;
}
.text-menu-group {
    display: grid;
    grid-template-columns: repeat(2, 80px 100px 130px 120px 1fr);
    
}

.menuview-text-items{
    display:gird ;
    grid-template-columns: auto auto auto;
   
    padding: 5px 15px;
    border-bottom: 0.5px solid #333;
   
}
.text-menu{
   justify-content:space-around;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    list-style-type: none;
    border-right:1px solid #333;
}

.order-date{
    align-items: center;
    width:200px;
    height: 80px;
    padding: 5px;
    margin: 10px 50px;
    border-radius: 10px;
}
.order_check_day{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    transition: .4;
    border: 1px solid black;
    
}

/* 슬라이드  */
.slideshow-container{
    height: 80px;
    display:flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin: 20px;
}
.myslides1{
    padding-left: 40px;
}
.text-right{
    text-align: right;
}

.img-img-small:hover{
    border:2px royalblue solid ;
   transform: matrix(1);
    
}




/* 별표css */
.review_btn_wrap{
clear: left;
width: 400px;
height: 100px;
position: relative;
top: 10px;
left: 50px;
}
.span-text  ,.review_wrap{
padding: 20px 0;
}
.sns_btn_wrap-items{
height: 100px;
margin: 50px;
}
.sns-btn-wrap-items-group{
    height: 50px;
    /* margin-bottom: 10px  ; */
     border-bottom: 2px solid #6E6E6E;
} 
.sns-btn-wrap-items{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    align-content: center;
    text-align: center;
}
.start_group{
    float: right;
    justify-content: end;
   
}

.resipy-img-group{
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 30px 50px;
}
.resipy-img{
    width: 330px;
    height: 300px;
    border-radius: 10px;
}
.span-text:hover{
    font-size: 20px;
    font-weight: 600;
    transition: .5;
}

.resipy-h3-text{
    display: grid;
    grid-template-columns: repeat(1, 600px 1fr);
    gap: 50px;
}
.resipy-h3-text-legft,.resipy-h3-text-right{
    text-align: center;
}
.resipy-imag-group-container-group{

    display: grid;
       grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    gap: 70px;
    margin: 30px;
 
    

}
.resipy-imag-group-container{
    margin: 10px 150px;
    display: grid;
    grid-template-columns: repeat(1,370px);
    grid-template-rows: repeat(1,250px);
}

/* 날짜 선택시 나타나는 품목box  품목명, 갯수 , 가격*/

.menu-title-choice-wrap{
    width: auto;
    height: 70px;
    /* display: none; */
    margin-top: 20px;
    border: 2px solid 
  }
  .menu-date-container-box1{
    display: flex;
    border-bottom:1px solid #333; 
    justify-content: space-between;
    align-content: center;
  
  }
  .menu-date-container-box2{
      display: flex;
    justify-content: space-between;
}
.product-number-group{
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
  .menu-delivery-delete-btn,product-minus,product-plus{
    width: 25px;
    height: 25px;
    border:none;
    
  }
  .menu-date-text,.product-price{
    font-size: 25px;
    font-weight: 500;
  }
  .menu-delivery-delete-btn{
    justify-items:end;
  }
.product-number{
   border: none;
   width: 30px;
   color:#ff5912;
   font-weight: 600;
   text-align: center;
   font-size:18px;
}



    
    /* 별점 */
#star1{
    font-size: 50px;


}

/* 상품등록 productRegister */
.product-resiter{
    display: block;
    width: 1270px;
    height: 900px;
    border: 2px solid black;
}
.product-resiter-container{
    display: block;
    padding: 20px ;
}
.product-resiter-container ol{
    width: auto;
    height: auto;
    margin: 20px 0;
    border: 2px solid ;
}
.file-items{
    display: flex;
    width: auto;
    height: 150px;
    justify-content: space-around;
    border-bottom: 1px solid #6E6E6E;
    margin: 10px 0;
  
}
.file-items1{
    display: flex;
    margin:20px 0;
    width: auto;
    justify-content: center;
    align-content: center;

}
.product-btn-box{
    width: auto;
    justify-content: center;
}
.product-register{
   
    margin: 20px 0;
    width: 100px;
    height: 50px;
    background-color: black;
    color: #ccc;

}

/* productMenu&&group */

/* section */


.container-head{
    height: 100px;
    display: flex;
    justify-items: center;
    padding: 40px;
}
.section, table{
    width: 1270px;
}

.text{
    padding-left: 50px;
}

table{
    display: block;
    padding:20px 50px;
    margin: 40px 0;
    border-top: 2px solid #6e6e6e;
    border-bottom: 2px solid #6e6e6e;
    border-left: none;
    border-right: none;
}
tr{
    width: 400px;
    content: "";
    justify-content: space-around;
}
th, td{
    width: 200px;
    height: 30px;
    text-align: center;
    border: none;
}

/* searchform */
.btn-container{
    height:80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
  .search-form {
    width: 400px;
    margin: 20px 50px;
  }
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 2px solid #f7f7f7;
    left: -10%;
    width: 300px;
    position: relative;
    top: 10px;
    left :400px;
    z-index: 2;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
/* button */


.btn{
    float: right;
    justify-items: center;
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #eee;

}
.btn:hover{
    color: red;

}

/* section && Mainmenupage head part */
.menu-group-container{
   display: block;
    width: auto;
    margin: 50px;
    height: auto;
}
.head-text{
   display: flex;
   justify-content:space-between;
   
    height: 70px;
}
.head-text1{
   display:flex;
   justify-content: space-between;
   text-align: right;

}
.h2{
    margin: 20px 0;
}
.border-top{
   /*  border-top: 2px solid #6E6E6E; */
}
/* .head-left{
    display: flex;
    justify-content: flex-start;
    text-align: center;
} */
.head-right,.head-left{
     display:flex;
     flex-wrap:wrap;
	
  margin-bottom: 10px;
}
.head-left, .head-head{
   display: flex;
   
    font-size: 20px;
    font-weight: 300;
  
}
.head-left-title{
    padding-right: 20px;
}
.head-right-items1{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    text-align: center;
  
}
.head-right-items1:hover{
    background:#000;
    color: red;
    border-radius: 20px;
}
.head-right-items2{
    height: 20px;
    width: 100px;
    margin: 0 10px;
}

.head-right-items2 .btnnone{
	border:none;
	background-color: white;
	font-size:18; 
}

.head-right-items2:nth-last-child(1){
    border-right:none;
}

/* 메뉴 나열되는part */

.section-menu-group-container1{

    height: auto;
    width:auto;
    margin: 50px 20px;
}
.menu-group-section1{
/*     width: auto; */
/*     display: flex; */
/*     flex-wrap:wrap; */
/*     justify-content: space-between; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  
  /*   grid-template-columns: repeat(3,300px);
    justify-content: space-evenly;
    column-gap: 110px;
 */
}
/* new 이미지 추가 */
.new{
    color: black;
    font-weight:1000;
    text-align: center;
    width: 60px;
    height:25px;
    background:green;
  }

  .section-writer-container{
    
      height:auto;
      display: grid;
      justify-content: center;
      align-content:center;
    }
    .writer-container-items{
        
        width: 800px;
        height: auto;
        justify-items:center;
        margin: 20px;
        border-radius: 10px;
        background: #6e6e6e;
  }
  .write-title{
      text-align: center;
  }
  dd{
      display: grid;
      
      padding:20px;
  }
  #total-price{
  border: none;
  }
 
#menu--text--container{
	width: auto;
	height: auto;
}
input[type=radio]{
	border:none;
	
	
}