@charset "UTF-8";

section{
        position: relative;
        min-width: 100%;
        min-height: 2000px;
        padding: 5% 40px;

    }
    section div.aside{
        border: 1px red solid;
        position: absolute;
        top:0px;
        width: 200px;
        height: 100%;

    }

    section div.content{
        position: absolute;
        top:0px;
        left: 200px;
        width: 800px;
        padding: 60px;
    }
    h1{
        margin: 5px;
    }
    
    form#orderView{
        padding: 10px;
    }
   div.detail{
       
       width : 600px;
       height: 170px;
       margin:auto;
   }
   .orderNumber{
       padding: 10px;
       font-size: 12px;
   }
   .odview{
   border: black 1px solid;
       height: 140px;
   }
   .deliverybtn{
   margin-left: 380px;
   }
   .productView{
       float: left;
       width:70%;
       
   }
   .orderButton{
       display: inline;
  
   }
   .order_pro_img{
       padding : 15px;
       float: left;
   }
   .order_pro_name{
       display: inline;
       padding: 15px;
   }
   .arriveDate{
       text-align: center;
           padding: 5px 0 0 5px;
   }
   .arriveDate p{
       font-size: 10px;
   }
   ul.Button {
   	    padding: 15px 0 0 0;
   }
   .Button button{
       display: block;
       align-items: center;
   }
   .orderButton button a{
       text-decoration: none;
       font-size: 12px;
       
   }
   Button{
     margin: auto;
   }
   .Button li{
       list-style-type: none;
   }