@charset "UTF-8";
.loginTxtFrm{
	width: 100%;
	height: 100px;
	text-align: center;
	position:relative;
	justify-content: center;
	display : flex;
}
.loginContainer{
    /* 로그인 파트 */
    width: 100%;
    height: 300px;
    text-align: center;
}
.joinBtnContainer{
	display : flex;
	width: 100%;
	
}
h1{
    /* 텍스트 */
    colir:#606060;
}
h1:hover {
	/* 텍스트 hover */
	text-decoration: underline;
	color:#101010;
}
.noUserLogin-Container{
    /* 비회원 로그인 파트 */
    width: 100%;
    height: 300px;
    text-align: center;
}
