@charset "UTF-8";
.mainDiv{
      margin-top:50px;
     
   }
   #join{
      height: 60px;
      width: 100%;
      margin: auto;
      font-size: 30px;
      text-align: center;
   }
   table{
      margin:0px auto;
   }
   #joinMsg{
      height:50px;
   }
   #joinMent{
      width:180px;
   }
   div.mainDiv div#content{
       height: 300px;
       position: relative;
   }
   div.mainDiv div#content h1{
       top: 50px;
       left: 80px;
   }
   div#button{
       display: inline;
       /* margin-top: 100px; */
       /* margin : 100px auto; */
       position: absolute;
       left: 325px;
       top: 100px;
       /* border:1px red solid; */
       /* align-items: center; */

   }
   div#button button{
       background-color: black;
        width: 200px;
        height: 20px;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: bolder;
        border: 0px;
        border-radius: 5px;
   }
   div#button button a{
       text-decoration: none;
       color: white;
       font-size: 14;
       

   }