@charset "UTF-8";
section{
    height: 550px;
}
.enroll-container{
	
padding: 132px
}
section>div{
    display: inline-block;
}
h1{
	margin: 37px;
	font-size: 39px;
}
.joinText{
    text-align: center;
    margin: 38px
}
.join1{
    margin-left: 412px;

}
div>input{
	height: 30px;
    padding: 0 5px;
    width: 156px;
}
.ckJoin{
	background: black;
	color: white;
    border: none
}